<%- include('header')%>

<form method="GET" action="/cotacao">
  <div class="form-group">
  <input type="text" name="cotacao" id="" placeholder="Cotação do dolar" value="<%= cotacao %>"><br>
  <input type="text" name="quantidade" id="" placeholder="Quantidade de dolares"><br>
  <button>Converter!</button>
</div>
</form>

<%- include('footer')%>