<%- include('header')%>

<form method="GET" action="/cotacao">
  <div class="form">
  <input type="text" name="cotacao" class="valor" placeholder="Cotação do dolar" value="<%= cotacao %>">
  <span class="alerta">Insira um valor</span>
  <input type="text" name="quantidade" class="valor" placeholder="Quantidade de dolares">
  <span class="alerta">Insira um valor</span>
  <button class="enviar">Converter!</button>
</div>
</form>

<%- include('footer')%>